/*
 * 
 * AOA Website done by JOEY.
 * Visit JOEYLABS.COM for custom site/email/mobile development
 * 
 * 
 */





/* START BODY */
html{
	height:100%;

}
body{
	height:100%;
	width:100%;
	background-color:#000;
	font:normal 14px/1.5 "Helvetica neue", helvetica, arial, sans-serif;
	overflow-x:hidden;
}
h1{
	margin:50px auto 45px;
	font:normal 54px/54px "Helvetica neue", helvetica, arial, sans-serif;

}
h2{
	margin:0 auto 65px;
	font:normal 54px/54px "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:4px;
}

#body-container{
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	overflow-x:hidden;

	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}

#main-body{
	display:block;
	position:relative;
	overflow:auto;
	background: #fff ; /* url('../images/body-bgRepeat.gif') repeat scroll */
	width:600px;
	float:left;
	min-height:1460px;
	margin:auto;
	text-align:center;
	
}

#main-body > p{
	text-align:left;
	width:85%;
	margin:45px auto 0;
	
}
#main-body.press > p{
	text-align:left;
	width:85%;
	margin:25px auto 0;
	
}
.small{
	font-size:85%;
}
#main-body.press > p.small{
	margin-bottom:100px;
}

#main-body a, #main-body span.gc-cs-link{
	color:#aa0000;
	text-decoration:none;
}
#main-body a:hover, #main-body a:active, #main-body a:visited, #main-body span.gc-cs-link:hover{
	color:#ff0000;
}

#main-date{
	font:normal 30px/30px "Helvetica neue", helvetica, arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:2px;
}
#main-date li{
	/*height:40px;*/
}
#main-date li img{
	position:relative;
	top: -5px;
}
#main-date li.through{
	font-size:70%;line-height:150%;color:#000;
}
#main-contact{
	position:relative;
	clear:both;
	width:360px;
	margin:75px 0 75px 15px;
	height:110px;
}
#main-contact li{
	height:110px;
	float:left;
}
#main-contact li > p{
	text-transform:uppercase;
}
#main-contact li.first{
	width:165px;
	text-align:right;
	border-right:1px solid #bebebe;
	font:normal 13px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:1px;
}
#main-contact li.first > p{
	text-align:right;
	margin: 25px 20px 0 0;
}
#main-contact li.second > p{
	margin: 22px 0 0 20px;
	
}
#main-contact li.second{
	width:190px;
	text-align:left;
	border-left:1px solid #fff;
	font:normal 21px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:1px;
}

#sidebar{
	position:relative;
	background:url('../images/sidebar-bgRepeat.png') repeat;
	width:300px;
	float:left;
	border-top:1px solid #dd0000;
	border-right:1px solid #dd0000;
	border-bottom:1px solid #dd0000;
	color:#fff;
	
	margin:74px 0 0 0;
	display:block;
}

#sidebar h3{
	font:normal 16px/1.2 "Helvetica neue", helvetica, arial, sans-serif;

	letter-spacing:1px;
	margin:56px 10px 0 35px;
}
#sidebar h4{
	font:normal 12px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:0px;
	margin:0px 10px 0 35px;
	color:#ffcece;
}
#sidebar sup{
	display:inline-block;
	position:relative;
	top:-3px;
	text-align:center;
	width:15px;
	margin: 0 3px 0 3px;
	color:#ffcece;
}
#sidebar h4 > a{
	font:bold 12px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:0px;
	color:#ffcccc;
	text-decoration:none;
}
.gallery-list li strong{
	font:bold 14px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:0px;
	color:#ffcece;
}
#sidebar h4 > a:hover{
	font:bold 12px/1.4 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:0px;
	color:#fff;
}
#sidebar li{
	position:relative;
	font:normal 12px/1.3 "Helvetica neue", helvetica, arial, sans-serif;
	letter-spacing:1px;
}
.gallery-list{
	margin:46px 30px 46px 35px;
}
.gallery-list li{
	margin: 0 0 15px 0;
}
.gallery-list li:hover{
}
.gallery-list li a{
	text-decoration:none;
	display:block;
	margin-bottom: 2px;
	color:#ffcece;
	font:bold 14px/1.2 "Helvetica neue", helvetica, arial, sans-serif;

}
.gallery-list span.gc-cs-link{
	text-decoration:none;
	color:#ffcece;
}
.gallery-list span.gc-cs-link:hover{
	color:#fff;
}
#bg-slideshow{
	position:fixed;
	width:880px;
	margin:0 0 0 540px;
	/*left:540px;*/
	top:0;
	z-index:1;
	overflow:hidden;
}
#bg-slideshow li{
	width:100%;
	overflow:hidden;
}
#joey{
	position:absolute;
	bottom:35px;
	right:35px;
}
img.hidden{
	display:none;
	width:1px;
	height:1px;
}
